examples/webleaf/src/main/resources/META-INF/config/webleaf-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.webleaf.com/config"
	xmlns:tns="http://www.webleaf.com/config"
	elementFormDefault="qualified">

	<xsd:element name="webleaf-config" type="tns:webLeafConfig" />
	
	<xsd:complexType name="webLeafConfig">
		<xsd:sequence>
			<xsd:element name="command-configs"
				type="tns:commandConfig" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="commandConfig">
		<xsd:sequence>
			<xsd:element name="command" type="tns:command"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="command">
		<xsd:sequence>
			<xsd:element name="outcome" type="tns:outcome"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="path" type="xsd:string" />
		<xsd:attribute name="commandClass" type="xsd:string" />
	</xsd:complexType>

	<xsd:complexType name="outcome">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string" />
				<xsd:attribute name="page" type="xsd:string" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

</xsd:schema>